// CONFIGURATION LAYER [BRAND] ##############################################

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
		
		$as-green:			#BEC43D;
		$as-greenDark:		#BFB86D;
		$as-greenLight:		#E7EEB3;

		$as-aqua:			#74A298;

		$as-maroon:			#A81D39;

		$as-orange:			#E0B437;
		$as-orangeDark:		#D56F27;

		$as-brown:			#835930;

        $as-earth:          #E8D871;

		$as-yellowPastel:	#F5E581;
		$as-yellowGold:		#E0B52F;

		$as-greyLighter:	#EBEBEB;
		$as-greyDarkest:	#373635;



	// A.END ++++++++++++++++++++++++++++++++++++++++++++++++
		
// END OF FILE ##############################################