// CONFIGURATION LAYER [BRAND] ##############################################

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
		
		$green:			#BEC43D;
		$greenLight:	#E7EEB3;
		$greenLighter:	#E7EEB3;

		$maroon:		#A81D39;

		$orange:		#E0B437;
		$orangeDark:	#D56F27;

		$greyLighter:	#EBEBEB;



	// A.END ++++++++++++++++++++++++++++++++++++++++++++++++
		
// END OF FILE ##############################################