// BASE LAYER [PAGES] ##############################################

	// 1. HOMEPAGE +++++++++++++++++++++++++++++++++++++++++++

        .front {
            
            #masthead {
                
                .nav-page {
                    
                    display: none !important;   
                    
                }
            }
            
        }


	// 1. END +++++++++++++++++++++++++++++++++++++++++++

	// 2. NOT FRONT +++++++++++++++++++++++++++++++++++++++++++	

		.not-front {
            
            #masthead {
                
                .nav-front {
                    
                    display: none !important;   
                    
                }
            }
			
			#mast {
				
				.container {
                    
                    background: $as-earthLighter;
					
					.page {
						
						.wrapper {
							
							.region {
								
								.block {
									
									.content {
										
										.node {
											
											.header {
												
												.container {
                                                    
                                                    position: relative;
													
													.section-header {
														
														position: relative;
														padding: 17px 0;
                                                        z-index: 1;
														
													}
													
													.figure-header {
														
														@include position (absolute);
														content: normal;
														z-index: 0;
                                                        overflow: hidden;
                                                        
                                                        img {
                                                            
                                                            width: 100%;
                                                            height: auto;
                                                            
                                                        }
													}
												}
											}
										}
										
										.section-main {
											
											background: $as-yellowPastel;	
											
										}
									}
								}
							}
						}
					}
				}
			}
		}


	// 2. END +++++++++++++++++++++++++++++++++++++++++++

	// 3. EVENT PAGE +++++++++++++++++++++++++++++++++++++++++++

		.node-type-event {
			
			#mast {
				
				.container {
					
					.page {
						
						.wrapper {
							
							#page-title {
								
								display: none;	
								
							}
							
							.region {
								
								.block {
									
									.content {
										
										.node-event {
											
											&.node-astd_week {
												
												.header {
													
													.container {
														
														position: relative;
														
														.section-header {
															
															position: absolute;
															z-index: 1;
															
														}
														
														.figure-header {
															
															position: relative;
															display: block;
															z-index: 0;
															
															img {
																
																width: 100%;
																height: auto;
																
															}
														}
													}
												}
											}
											
											.section-main {
                                                
                                                background: $white;
												
												.aside-details {
														
                                                    @extend .one-third;
                                                    @extend .mobile--one-whole;

                                                    .event-info {

                                                        padding: $baseline;
                                                        background: $as-orange;

                                                    }

                                                    .event-details {

                                                        padding: $baseline;

                                                        .label {

                                                            font-size: $large;
                                                            padding: $baseline/4 0;
                                                            display: block;

                                                        }
                                                    }
                                                }

                                                .aside-info {

                                                    @extend .two-thirds;
                                                    @extend .mobile--one-whole;
                                                    background: $white;

                                                }
											}
										}										
									}
								}
							}
						}
					}
				}
			}
		}


	// 3. END +++++++++++++++++++++++++++++++++++++++++++


	// 4. CONFERENCE PAGE +++++++++++++++++++++++++++++++++++++++++++

		.node-type-conference {
			
			#mast {
				
				.container {
					
					.page {
						
						.wrapper {
							
							#page-title {
								
								display: none;	
								
							}
							
							.region {
								
								.block {
									
									.content {
										
										.node-conference {
											
											&.node-astd_week {
												
												.header {
													
													.container {
														
														position: relative;
														
														.section-header {
															
															position: absolute;
															z-index: 1;
															
														}
														
														.figure-header {
															
															position: relative;
															display: block;
															z-index: 0;
															
															img {
																
																width: 100%;
																height: auto;
																
															}
														}
													}
												}
											}
											
											.section-main {
                                                
                                                background: $white;
                                                
                                                // 2.5. Mini Conference Page Layout 
												
												&.mini-conf {
											
													.aside-details {
														
														@extend .one-half;
														@extend .mobile--one-whole;
                                                        background: $as-earthLighter;

														.conference-info {

															padding: $baseline;
															background: $as-orange;

														}

														.conference-details {

															padding: $baseline;

															.label {

																font-size: $large;
																padding: $baseline/4 0;
																display: block;

															}
														}
													}

													.aside-info {
														
														@extend .one-half;
														@extend .mobile--one-whole;
														background: $white;

													}
												}
                                                
                                                // 2.5. END: Mini Conference Page Layout
                                                
                                                
                                                // 2.6. ???????????? Page Layout
                                                
                                                &.conferences {
											
													.aside-details {
														
														@extend .one-half;
														@extend .mobile--one-whole;

														.conference-info {

															padding: $baseline;
															background: $as-orange;

														}

														.conference-details {

															padding: $baseline;

															.label {

																font-size: $large;
																padding: $baseline/4 0;
																display: block;

															}
														}
													}

													.aside-info {
														
														@extend .one-half;
														@extend .mobile--one-whole;
														background: $white;

													}
												}
                                                
                                                // 2.6. END: ???????????? Page Layout
                                                
                                                
                                                // 2.7. ANNUAL ASTD CONFERENCE Page Layout
												
												&.astd {
													
													.aside-details {
														
														@extend .one-third;
														@extend .mobile--one-whole;

														.conference-info {

															padding: $baseline;
															background: $as-orange;

														}

														.conference-details {

															padding: $baseline;

															.label {

																font-size: $large;
																padding: $baseline/4 0;
																display: block;

															}
														}
													}

													.aside-info {
														
														@extend .two-thirds;
														@extend .mobile--one-whole;
														background: $white;

													}
													
												}
                                                
                                                // 2.7. END: ANNUAL ASTD CONFERENCE Page Layout
                                                
											}
										}										
									}
								}
							}
						}
					}
				}
			}
		}


	// 4. END +++++++++++++++++++++++++++++++++++++++++++


	// 5. EVENT/CONFERENCE CALENDAR +++++++++++++++++++++++++++++++++++++++++++	

	.page-calendar {
			
			#mast {
				
				.container {
                    
                    background: $as-greyDark;
					
					.page {
						
						.wrapper {
							
							#page-title {

                                display: block;
                                padding: $baseline*2 0; 
                                padding: $baseline;
                                text-align: center;
                                color: $white;
                            }

							.region {
                                
                                &.region-content {
                                    
                                    margin-top: $baseline;   
                                    
                                }
								
								.block {
									
									.content {
										
										.node {
											
											.content {
												
												h4,
												.button {
													
													display: none;	
													
												}
												
												.about-region-block {
													
													width: 25%;
													height: auto;
													
												}
											}
										}
										
										.view {
                                            
											.view-content {
                                                
                                                margin-right: -5px;
												
												.grid-item {
													
													@extend .desk-wide--one-quarter;
													@extend .desk--one-quarter;
													@extend .tablet--one-half;
                                                    
												}
											}
										}										
									}
								}
							}
						}
					}
				}
			}
		}


	// 5. END +++++++++++++++++++++++++++++++++++++++++++

	// 6. ABOUT US +++++++++++++++++++++++++++++++++++++++++++

	.page-node-39 {
			
		#mast {

			.container {

				.page {
                    
                    background: $as-greenLight;

					.wrapper {
						
						#page-title {

							display: block;
                            padding: $baseline*2 0; 
                            padding: $baseline;
                            text-align: center;
						}

						.region {
                            
                            &.region-advisory-board {
                                
                                padding-top: $baseline;
                                
                                .block {
                                    
                                     .content {

                                        .view-advisory-board {

                                            padding-top: $baseline;
                                            background: $as-greenDark;

                                            .view-header {

                                                text-align: center;
                                                padding: 0 $baseline*3.75;

                                                h4 {

                                                    text-align: center;
                                                    font-size: $x-large;

                                                }
                                            }
                                            
                                            .view-content {
                                                
                                                .grid-item {
                                                    
                                                    .wrapper {
                                                    
                                                        background: $as-greenDark;
                                                        padding: 1px;
                                                        
                                                    }
                                                }
                                            }
                                        }
                                     }
                                }
                                
                                h5 {
                                    
                                    font-size: $medium-l;
                                    margin-bottom: 0;
                                    margin-top: $baseline/4;
                                    
                                }
                                
                                .more {
                                    
                                    display: none;   
                                    
                                }
                            }

							.block {

								.content {
									
									background: $as-greenLight;
								
									.node {
									
										.content {
											
											@extend .grid;
											
											h2 {
												
												img {
													
													max-width: 100%;
													height: auto;
                                                    display: inline-block;
													
												}
											}
										
											.grid-item {

												@extend .grid__item;
												@extend .desk-wide--one-quarter;
												@extend .desk--one-quarter;
												@extend .tablet--one-half;
												
												padding-left: 0;
												
												.wrapper {
													
													padding: 0 $baseline/2 1px;
												
													img {

														max-width: 100%;
														height: auto;	

													}
												}
											}
										}
									}

									.view {
										
										background: $as-earth;
										
										&.view-advisory-board {
											
											margin-top: $baseline;	
											
										}
                                        
                                        .view-header {
                                            
                                            margin: $baseline/2;
                                            
                                        }

										.view-content {

											.grid-item {

												@extend .desk-wide--one-quarter;
												@extend .desk--one-quarter;
												@extend .tablet--one-half;
												
												.wrapper {
												
													padding: $baseline/2;
													background: $as-earth;
													
													.figure-board {

														img {

															width: 100%;
															height: auto;

														}
													}
												}
											}
										}
									}										
								}
							}
						}
						
						.region-logo-story {
                            
                            background: url('../images/svg/bg-ourlogo.svg');
                            background-size: cover; 
							
							.block {
								
								.content {
									
									.node {
										
										.content {
											
											padding: $baseline*2;
                                            padding-top: 0;
											
											h2, h5, h6, p {
												
												letter-spacing: normal;	
												
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// 6. END +++++++++++++++++++++++++++++++++++++++++++
	
	// 7. BECOME A MEMBER +++++++++++++++++++++++++++++++++++++++++++
	
		.page-node-40 {
			
			#mast {

				.container {

					.page {
						
						margin-top: 34px;

						.wrapper {

							@extend .grid;
                            background: $as-earthLighter;
							
							.section-member-main {
							
								@extend .grid__item;
								@extend .two-thirds;
                                
                                h1 {
                                    
                                    margin-bottom: $baseline;   
                                    
                                }
                                
                                .region {
                                    
                                    .block {
                                        
                                        .content {
                                            
                                            .node {
                                                
                                                .content {
                                                    
                                                    ul {
                                                        
                                                        li {
                                                            
                                                            margin-bottom: $baseline/2;
                                                            
                                                        }   
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
							}
							
							.section-member-side {
							
								@extend .grid__item;
								@extend .one-third;
                                padding-left: 0!important;
                                
                                .region {
                                    
                                    background: $as-orangeDark;
                                    padding: $baseline;
                                    margin-right: -2px;
                                    
                                    .block {
                                        
                                        h5 {
                                            
                                            text-align: left;   
                                            
                                        }
                                    }
                                 
									&.region-member-info {
									
										background: $as-green;

									}
                                }
							}
						}
					}
				}
			}
		}

	// 7. END +++++++++++++++++++++++++++++++++++++++++++


	// 8. TESTIMONIALS +++++++++++++++++++++++++++++++++++++++++++
	
		.section-testimonials {
			
            .container {
                
                p {
                    
                    span {
                        
                        display: block;
                        font-size: $normal-s;
                        font-weight: bold;
                        
                    }
                }
            }
		}

	// 8. END +++++++++++++++++++++++++++++++++++++++++++


	// 9. SITE PAGES +++++++++++++++++++++++++++++++++++++++++++

    .page-node-register,
    .page-user {
        
        #mast {
            
            .container {
                
                .page {
                    
                    .wrapper {
                        
                        padding: $baseline;   
                        
                    }
                }
            }
        }
    }


	// 9. END +++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################