// PATTERNS LAYER  ##############################################

//A.1 GRIDS +++++++++++++++++++++++++++++++++++++++++++

    //A.1.1. Page Grid System

    .section-main {

        @extend .grid;
        margin-left: 0!important;

        .aside-details {

            @extend .grid__item;
            padding-left: 0!important;

        }

        .aside-info {

            @extend .grid__item;
            padding-left: 0!important;

        }
    }

    //A.1.1. END

    //A.1.2. Event/Conference Grid System

    .view-content, 
    .grid {

        @extend .grid;
        margin-left: 0 !important;

        .grid-item {

            @extend .grid__item;
            @extend .one-whole;
            padding-left: 0 !important;
			
			&.event-item {
												
				a {

					.span-event {

						@include aspect-ratio('auto', 100%);

						.wrapper {

							@include position(absolute);
							background: $white;
							cursor: pointer;
                            padding: 0 $baseline/2;

							.event-top-block {

								min-height: 55%;
                                
                                h2, h3, h4, p {

									margin: 0;
									padding: $baseline/4 $baseline/2;
									color: $white;
									text-decoration: none;
								}

								h2 {
                                    
                                    white-space: nowrap;
                                    font-size: $large !important;
                                    
                                }
                                
                                h3 {
                                    
                                    font-size: $medium-ll;   
                                    
                                }
                                
                                h4 {
                                    
                                    border-bottom: 1px solid $as-greyDark;
                                    margin: $baseline/4;
                                    padding: 0 !important;
                                    font-size: $normal;
                                    
                                }
							}

							.event-bottom-block {

								background: $white;

								p {

									color: $black;
									margin: 0;
									padding: $baseline/12 $baseline/6;

								}
							}
						}
					}

					.figure-event {

						@include aspect-ratio(50%, 30%);

						.span-image {

							@include position(absolute);
							margin: 0;
							padding: 0;

							img {

								width: 100%;
								height: auto;

							}
						}
					}

					.span-event-hover {

						@include position(absolute);
						background: $as-greyLighter;
						z-index: 2;
						transform: translateY(150%);
						transition: 0.3s 0.1s;

						.wrapper {

							padding: $baseline/2;

							p {

                                margin-top: 0;
                                font-size: $small;
                                line-height: $large;

							}
						}
					}
					
					
					h2 {

                        color: $white;
                        margin: 0;
                        padding: $baseline/2 0;
                        font-size: $normal;
                        text-align: center;

                    }

                    .span-event {

                        display: block;
                        position: relative;
                        overflow: hidden;

                        p {

                            margin-top: $baseline/2;
                            margin-bottom: 0;
                            font-size: $small;

                        }

                        &:hover .span-event-hover {

                            transform: translateY(0%);
                            transition: 0.3s 0.1s;

                        }
                    }
				}
			}
        }
    }

    //A.1.2. END


    //A.1.3. REGISTER BLOCK

	#block-formblock-user-register {
		
		h5 {
			
			text-align: center !important;
			font-size: $x-large;
			font-weight: bold !important;
			margin-top: $baseline/2 !important;
			margin-bottom: 0 !important;
			text-transform: uppercase;
		}
		
		.content {
			
			form {
				
				div {
					
					.form-wrapper {
						
						.form-item {
                            
                            label {
                                
                                font-size: $small;   
                                
                            }
                            
                            .form-text {
                                
                                padding: $baseline/6;   
                                
                            }
							
							.description {
								
								display: none;
								
							}
                            
                            #edit-submit {
                                
                                margin-bottom: 0;
                                
                            }
						}
					}
				}
			}
		}
	}

    //A.1.3. END


    //A.1.4. USER NAV - top of page

    .tabbed {
        
        &.navigation {
            
            h2 {}
            
            ul {
                
                text-align: right;
                margin: $baseline 0;
                padding: 0;
                border: 0;
                
                li {
                    
                    a {
                        
                        font-size: $small;
                        color: $white;
                        padding: $baseline/2 $baseline;
                        background: $black;
                        border-style: none;
                        border-width: 0;
                        border: 0;
                        
                        &:hover {
                            
                            background: $as-greyLighter;
                            color: $as-greyDarker;
                            
                        }
                        
                        &.active {
                            
                            background: $as-greyLighter;
                            color: $as-greyDarker;
                            
                        }
                    }
                }
            }
        }
    }


    //A.1.4. END

    


//A.1 END +++++++++++++++++++++++++++++++++++++++++++
	

// END OF FILE ##############################################