// BASE LAYER [SITE]  ##############################################

	// A. SITEWIDE STYLING ++++++++++++++++++++++++++++++++++++++++++++++++

		body {
			
			background: $as-greenDark;
			margin: 0;
			padding: 0;
			
		}

        // FONTS / HEADINGS

		h1, h2, h3, h4, h5, h6, p {
			
			//padding: 0;
			//margin: 0;
			line-height: normal;
            border: 0;
			
		}


		h2    {font-size: $x-large;}
		h3    {font-size: $large;}
		h4    {font-size: $medium; margin: 0;}
        h5    {font-size: $medium-l; margin: 0;}

		.normal       {font-size: $normal;}
		.medium       {font-size: $medium;}
		.large        {font-size: $large;}
		.x-large      {font-size: $x-large;}
		.xx-large     {font-size: $xx-large;}

        // COLOUR CLASSES

        .as-greyDarker  {color: $as-greyDarker;}

        .wrfy           {background: $as-aqua !important;}
		.leaders-angle  {background: $as-aqua !important;}
		.conferences    {background: $as-orange !important;}
        .annual-conf    {background: $as-maroon !important;}
        .mini-conf      {background: $as-orange !important;}
		.captains       {background: $as-green !important;}
        .clo-ian        {background: $as-green !important;}
		.co-visits      {background: $as-green !important;}
		.astd           {background: $as-maroon !important;}



        // LAYOUT ELEMENTS

		.astd-hr {

			width: 40%;
			border-top: 1px solid $gray;
			margin: 0 auto;

		}

        table {

            border: 0;
            
            td {
                
                border: 0;
                border-right: 0;
                
            }
            
            tbody {
                
                border: 0;
                border-top: 0;
                
            }
        }

        .view-content, 
		.grid {
			
			@extend .grid;
			margin-left: 0 !important;
			
			.grid-item {
				
				@extend .grid__item;
				@extend .one-whole;
				padding-left: 0 !important;
				background: $as-greenLight;
				
			}
		}


        // USER INPUTS

        #edit-submit {
            
            border: 0;
            background: $black;
            color: $white;
            font-size: $x-large;
            padding: $baseline/2;
            text-decoration: none;
            max-width: 100%;
            white-space: normal;
            
        }

	    
			
	// A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. MASTHEAD ++++++++++++++++++++++++++++++++++++++++++++++++

        .not-logged-in {
            
            #masthead {
                
                top: 0;   
                
            }
        }
	
	    #masthead {
			
			position: fixed;
			z-index: 20;
			margin: 0 auto;
			width: 100%;
			
			.container {
                
                #astd-siteLogo {
                    
                    position: absolute;
                    height: 100%;
                    
                }
			}
	    
	        #nav {
				
				background: $white;
				padding: $baseline/6;
				
				ul {
					
					text-align: right;
					margin-bottom: 0;
					
					li {
						
						list-style-type: none;
						display: inline-block;
						
						a {
							
							color: $black;
							padding: 0 $baseline/4;
							border-left: 1px solid $black;
							font-size: $small;
							
							&.first {
								
								border-left: 0;
								
							}
						}
					}
				}
			}
	    }
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// C. MAST ++++++++++++++++++++++++++++++++++++++++++++++++
		
		#mast {
            
            background: $as-greenDark;
			
			// C.1. Intro Section ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-intro {
				
				.container {
					
					background: url('../images/svg/bg-header2.svg') top center no-repeat;
					background-size: cover;
					padding-top: $baseline*2;
					padding-bottom: $baseline;
					
					.wrapper {
                        
						.section-scale {
                            
                            position: relative; 
							
							.figure-logo {
				
								@include aspect-ratio (17.5%, 63%);
								margin: 0 auto;
								margin-bottom: $baseline/2;

								.image-logo {

									@include position (absolute);
                                    
                                    a {
                                        
                                        img {
                                            
                                            max-width: 100%;   
                                            
                                        }
                                    }
								}
							}

							h2 {

								text-align: center;
								line-height: normal;
                                color: $as-greenDarker;
                                text-transform: lowercase;
                                margin: 0;

							}

							p {

								text-align: center;
								line-height: normal;
                                color: $as-greyDarker;
                                margin: 0;

							}

							.astd-hr {

								margin-top: $baseline*2;

							}
                            
                            .new-logo {
                            
                                position: absolute;
                                bottom: $baseline*3;
                                right: $baseline*3;

                                img {

                                    width: 120px;
                                    height: auto;

                                }
                            }
						}
					}
				}
			}
			
			// C.1. End ++++++++++++++++++++++++++++++++++++++++++++++++
			
			// C.2. Events Section ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-events {
				
				.container {
					
					background: $as-earthLighter;
					padding: $baseline 0;
					
					.section-header {
                        
                        margin-top: $baseline;   
                        margin-bottom: $baseline;
                        color: $black;
                        
                    }
                    
                    h2 {
						
						text-align: center;
						color: $white;
						text-decoration: none;
						margin: 0;
						font-size: $large;
						overflow: hidden;
						white-space: nowrap;
						
					}
                    
                    h3 {
                        color: $black;
						padding: $baseline/12 $baseline/4;
                    }
                    
                    h4 {
                        color: $black;
						padding: $baseline/12 $baseline/4;
                    }
					
					h5 {
						
						color: $black;
						padding: $baseline/12 $baseline/4;
						margin: 0;
						font-size: $normal-s;
						
					}
                    
                    .region-events {
                        
                        .block {
                            
                            .content {
                                
                                .view {
                                    
                                    .view-content {
                                        
                                        .grid-item {
							
                                            @extend .tablet--one-half;
                                            @extend .desk--one-quarter;
											
                                        }
                                    }
                                }
                            }  
                        }
                    }
				}
			}
			
			
			// C.2. End ++++++++++++++++++++++++++++++++++++++++++++++++
			
			
			// C.3. Conference Section ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-conferences {
				
				.container {
					
					background: url('../images/svg/bg-conference.svg') top center no-repeat $as-greyDarkest;
					background-size: 100% auto;
					
					.wrapper {
						
						.section-scale {
							
							@include position (absolute);
							content: normal;
							
							.figure-icon {
				
								margin: 0 auto;

								.image-icon {

									@include position (absolute);

								}
							}	

							h2 {

								text-align: center;
								
							}
                            
                            .region-astd {
                                
                                .block {
                                    
                                    .content {
                                        
                                        .view {
                                            
                                            .view-content {
                                                
                                                @extend .grid;
                                                
                                                .views-field-title {
                                                    
                                                    @extend .grid__item;
                                                    @extend .one-half;
                                                    @extend .mobile--one-whole;
													float: left;
													text-align: right;
                                                    
                                                    span {
                                                        
                                                        a {
                                                            
                                                            font-size: $large;
                                                            color: $white;
															line-height: normal;
															display: inline-block;
															margin-bottom: $baseline;
															margin-top: $baseline/4;
                                                            
                                                        }  
                                                    }
                                                }
                                                
                                                .views-field-field-conference-date {
                                                    
                                                    @extend .grid__item;
                                                    @extend .one-half;
													@extend .mobile--one-whole;
                                                    color: $white;
													float: right;
													
													.field-content {
														
														margin-left: $baseline;
														
														span {
															
															font-size: $normal;	
															
														}
													}
                                                }
                                                
                                                .views-field-field-venue {
                                                    
                                                    @extend .grid__item;
                                                    @extend .one-half;
													@extend .mobile--one-whole;
                                                    float: right;
                                                    color: $white;
													
													.field-content {
														
														margin-left: $baseline;
														font-size: $small;
														
													}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
						}
					}
				}
			}
			
			// C.3. End ++++++++++++++++++++++++++++++++++++++++++++++++
			
			
			// C.4. Testimonials ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-testimonials {
				
				.container {
					
					background: $as-orange;
                    
                    .region {
                        
                        .block {
                            
                            .content {
                                
                                .view {
                                    
                                    .view-content {
                                        
                                        .views-field-body {
                                            
                                            background: url('../images/svg/quotation1.svg') no-repeat $baseline $baseline;
                                            
                                            .field-content {
                                                
                                                background: url('../images/svg/quotation2.svg') no-repeat 95% $baseline;
                                            
                                                p {

                                                    padding: $baseline*3 $baseline*4;
                                                    padding-bottom: 0;
                                                    margin: 0;
                                                    letter-spacing: normal;

                                                }
                                            }
                                        }
                                        
                                        .views-field-field-author {
                                            
                                            padding: $baseline*3 $baseline*4;
                                            padding-top: $baseline/8;
                                            
                                            .views-label {
                                                
                                                display: inline-block;
                                                
                                            }
                                            
                                            .field-content {
                                                
                                                display: inline-block;
                                                letter-spacing: normal;
                                                margin-left: $baseline/2;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
				}
			}
			
			// C.4. End ++++++++++++++++++++++++++++++++++++++++++++++++
			
			
			// C.5. About Us ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-about {
				
				.section-about-button {
					
					display: inline-block;
					margin: $baseline/2 auto;
					padding: $baseline/2 $baseline;
					background: $black;
					color: $white;
					font-weight: bold;
					
					&:hover {
						
						background: $as-maroon;	
						
					}
				}
				
				.container {
					
					background: $as-greenLight;
					
					h2 {
					
						margin: 0;
						padding: $baseline*2 0;
						padding-bottom: $baseline/1.33;
						text-align: center;
						
					}
					
					.grid {
                        
                        margin-left: 0 !important;
						
						.grid-item {
							
							@extend .desk--one-half;
							
							.wrapper {
								
								margin: $baseline $baseline/2;
								margin-bottom: $baseline/2;
								
								.region {
									
									.block {
										
										.content {
											
											.node {
												
												.content {
													
													h2 {
											
														font-size: $large;
                                                        font-weight: bold;
														margin: 0;
														padding: 0;

													}

													h4 {

														margin-bottom: $baseline;

													}
													
													h5 {
														
                                                        color: $as-greyDarker;
														font-size: $medium-l;
														margin: $baseline/1.33;
														margin-top: 0;

													}
													
													h6 {
														
														margin: 0;
                                                        margin-top: 0;	
														
													}

													p {

														font-size: $normal-s;
                                                        line-height: 1.4em;
                                                        margin-bottom: 0;

													}
                                                    
                                                    .text-author {
                                                        
                                                        font-size: $small;   
                                                        
                                                    }
												}
											}
										}
										
										h5 {
								
											color: $as-orangeDark;
											font-size: $large;
											margin-bottom: $baseline/2;

										}

										p {

											line-height: normal;
											margin-bottom: $baseline/4;

											&.medium {

												font-weight: bold

											}

											&.large {

												font-weight: bold;	

											}
										}
									}
								}
							}
						}
					}
				}
                
                .about-region-block {
                    
                    width: 50%;
                    height: auto;
                    
                }
			}
			
			// C.4. End ++++++++++++++++++++++++++++++++++++++++++++++++
			
			
			// C.5. Advisory Board ++++++++++++++++++++++++++++++++++++++++++++++++
			
			.section-board {
				
				.container {
					
					h2 {
						
						margin: 0;
						padding: $baseline $baseline/2;
						
					}
					
					p {
						
						margin: 0 $baseline/2;	
						
					}
					
					background: $as-greenLight;
					
					.region {
						
						padding: $baseline/2;
						
						.block {
							
							h5 {
								
								font-size: $large;	
								
							}
							
							.content {
								
								.view {
									
									.view-content {
										
										@extend .grid;
										margin-left: 0 !important;
										
										p {
											
											letter-spacing: normal;	
											
										}
										
										.grid-item {
											
											@extend .grid__item;
											@extend .one-whole;
											@extend .desk--one-quarter;
											padding-left: 0 !important;
											
											.figure-board {
												
												img {
												
													width: 90%;
													height: auto;
													margin: auto;
												
												}
												
											}
											
											h4 {
												
												padding: 0;
												margin: 0 $baseline/2;
												
											}
											
											.more {
												
												margin: 0 $baseline/2;
												
											}
										}
									}
								}
							}	
						}
					}
				}
			}
			
			
			// C.5. End ++++++++++++++++++++++++++++++++++++++++++++++++
		}
		
	// C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FOOTEND ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    #footend {
	    
	        .container {
                
                background: url('../images/svg/bg-footer.svg') top left no-repeat;
                background-size: cover;
                
                .grid {
                    
                    @extend .grid;
                    
                    .grid-item {
                        
                        @extend .grid__item;
                        @extend .one-whole;
                        @extend .desk--one-third;
                        
                        .wrapper {
                            
                            margin: $baseline;
                            
                            .region-footend-three {
								
                                .block {
                                    
                                    .content {
                                        
                                        .node {
                                            
                                            .content {
                                                
                                                p {
                                                    
                                                    img {
                                                        
                                                        max-width: 100%;   
                                                        
                                                    }
                                                }  
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.item-contact {
							
							background: none !important;
                            
                            .wrapper {
                                
                                .region {
								
                                    .block {

                                        .content {

                                            .node {

                                                .content {

                                                    table {

                                                        tbody {

                                                            tr {

                                                                .contact-icon {

                                                                    width: 10% !important;

                                                                    img {

                                                                        max-width: 100%;

                                                                    }
                                                                }

                                                                .contact-info {

                                                                    font-size: $small !important;
                                                                    
                                                                    a {

                                                                        color: $as-greyDarker;

                                                                    }
                                                                }
                                                            }   
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.item-comm {
							
							background: $as-green;
                            
                            .wrapper {
                                
                                .region {
                                
                                   .block {
                                       
                                        h5 {
                                            
                                            font-size: $xxx-large;
                                            line-height: 1.1em;
                                            
                                        }
                                   }
                               }
                                
                                ul {
                                    
                                 padding: 0;
                                    margin: 0;
                                    
                                    li {
                                        
                                        list-style-type: none;
                                        display: block;
                                        padding: $baseline/2 $baseline;
                                        margin: $baseline/12;
                                        border: 1px solid $black;
                                        
                                        a {
                                            
                                            display: block;
                                            color: $black;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            
                                        }
                                    }
                                }
                                
                                a {
                                    
                                    text-align: center;
                                    color: $white;
                                    text-decoration: none;
                                    font-size: $large;
                                    display: block;
                                    
                                }
                                
                                .form-actions {
                                 
                                    text-align: center;
                                    
                                }
                            }
                        }
						
						&.item-three {
							
							background: none !important;	
							
						}
                    }
                }
            }
	    }
		
	// D. END ++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################